<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangju.manage.mapper.UserMapper">

    <resultMap id="userMap" type="com.zhangju.manage.entity.User">
        <result column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" property="userName"/>
        <result column="user_mobile" jdbcType="VARCHAR" javaType="java.lang.String" property="userMobile"/>
        <result column="user_status" jdbcType="VARCHAR" javaType="java.lang.String" property="userStatus"/>
        <result column="user_role" jdbcType="VARCHAR" javaType="java.lang.String" property="userRole"/>
        <result column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="updateTime"/>
        <result column="password" jdbcType="VARCHAR" javaType="java.lang.String" property="password"/>
    </resultMap>

    <select id="getUserByUserNameAndPassword" parameterType="java.lang.String" resultMap="userMap">
      SELECT * FROM `user` WHERE user_name=#{userName} OR user_mobile=#{userName} AND password=#{password}
   </select>
    <select id="getUserList" resultMap="userMap">
        SELECT user_id,user_name,user_mobile,user_status,user_role,create_time FROM `user` WHERE 1

        <if test="userName!=null and userName!=''">
            AND user_name LIKE CONCAT('%',#{userName},'%')
            or
            user_mobile LIKE CONCAT('%',#{userName},'%')
        </if>



    </select>
</mapper>